.about__img-container img {
  display: block;
  margin: 0 auto;
}

.about__container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.about h2 {
  margin: 0 0 27px;
}

.about h3 {
  margin: 0;
}

.about p {
  margin: 0;
}

.about p:last-of-type {
  margin-bottom: 10px;
}
