.about {
  position: relative;

  padding-top: 20px;
  overflow: hidden;

  @media (min-width: $vp-768) {
    min-height: 742px;
    padding-top: 41px;
  }

  @media (min-width: $vp-1440) {
    max-width: 1440px;
    min-height: 698px;
    margin: 0 auto;
    padding-top: 126px;
  }
}

.about__img-container img {
  display: block;
  margin: 0 auto;

  background-color: #e8eaed;

  @media (min-width: $vp-768) {
    position: absolute;
    top: 175px;
    left: 0;
    z-index: -1;

    max-width: 542px;
    margin: 0;
  }

  @media (min-width: $vp-1440) {
    top: 101px;

    max-width: 660px;
  }
}

.about__container {
  max-width: 500px;
  padding-bottom: 10px;

  @media (min-width: $vp-768) {
    max-width: initial;
    margin-left: 0;
    padding-right: 48px;
    padding-left: 450px;
  }

  @media (min-width: $vp-1440) {
    padding-right: 120px;
    padding-left: 660px;
  }

  &::before {
    @media (min-width: $vp-768) {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      z-index: -1;

      width: calc(100% - 450px);
      height: 100%;

      background-color: var(--white-100, #ffffff);
    }

    @media (min-width: $vp-1440) {
      width: calc(100% - 660px);
    }
  }
}

.about h2 {
  margin: 0 0 43px;

  @media (min-width: $vp-768) {
    margin-bottom: 47px;
  }

  @media (min-width: $vp-1440) {
    max-width: 585px;
    margin-bottom: 59px;
  }

  &::before {
    @media (min-width: $vp-768) {
      top: 4px;
    }

    @media (min-width: $vp-1440) {
      top: -19px;
    }
  }
}

.about h3 {
  margin: 26px 0 14px;

  font-weight: 700;
  font-size: 16px;
  line-height: 16px;

  @media (min-width: $vp-768) {
    margin-top: 29px;
    margin-bottom: 11px;

    font-size: 18px;
    line-height: 18px;
  }

  @media (min-width: $vp-1440) {
    max-width: 585px;
    margin-top: 29px;
    margin-bottom: 16px;

    font-size: 21px;
    line-height: 21px;
  }
}

.about p {
  margin: 10px 0;

  @media (min-width: $vp-1440) {
    max-width: 585px;

    font-size: 14px;
    line-height: 22px;
  }
}
