.advantages {
  position: relative;

  &::before {
    @media (min-width: $vp-768) {
      content: "";
      position: absolute;
      top: 166px;
      right: 0;
      left: 0;

      height: 996px;

      background-image: url("../img/background/clouds-advantages-tablet@1x.png");
      background-repeat: no-repeat;
      background-position: center;

      @media (resolution >= 2dppx) {
        background-image: url("../img/background/clouds-advantages-tablet@2x.png");
        background-size: 768px auto;
      }
    }

    @media (min-width: $vp-1440) {
      top: -282px;

      height: 447px;

      background-image: url("../img/background/clouds-advantages-desktop@1x.png");

      @media (resolution >= 2dppx) {
        background-image: url("../img/background/clouds-advantages-desktop@2x.png");
        background-size: 1440px auto;
      }
    }
  }
}

.advantages__container.swiper {
  padding: 20px 15px;

  @media (min-width: $vp-768) {
    padding: 40px 45px;
  }

  @media (min-width: $vp-1440) {
    padding: 115px 0 185px;
  }
}

.advantages__title {
  margin: 0 0 37px;

  text-align: center;

  @media (min-width: $vp-768) {
    margin-bottom: 60px;
  }

  @media (min-width: $vp-1440) {
    margin-bottom: 50px;
  }

  &::before {
    top: 3px;
    left: calc(50%);

    transform: translateX(-50%);

    @media (min-width: $vp-1440) {
      top: -8px;
    }
  }
}

.advantages__slider-buttons {
  display: none;

  @media (min-width: $vp-1440) {
    position: absolute;
    bottom: 100px;
    left: 50%;

    display: flex;

    transform: translateX(-50%);
  }
}

.advantages__list.swiper-wrapper {
  display: grid;
  max-width: 470px;
  margin: 0 auto;
  padding: 0;

  list-style-type: none;

  gap: 15px;

  @media (min-width: $vp-768) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: initial;

    gap: 30px;
  }

  @media (min-width: $vp-1440) {
    flex-wrap: nowrap;
    justify-content: initial;
    margin: 0;

    gap: 0;
  }
}

.advantages__item {
  position: relative;

  padding: 81px 9px 19px;

  border: 1px solid var(--additional-10, rgba(2, 102, 193, 0.1));

  @media (min-width: $vp-768) {
    min-height: 340px;
    padding: 103px 19px 28px;

    background-color: var(--white-100, #ffffff);
  }

  @media (min-width: $vp-1440) {
    min-height: 329px;
    padding: 122px 18px 39px;
  }

  &--safety {
    --icon: url("../__spritemap#sprite-safety-view");
  }

  &--knowledge {
    --icon: url("../__spritemap#sprite-crown-view");
  }

  &--equipment {
    --icon: url("../__spritemap#sprite-boots-blue-view");
  }

  &--individual {
    --icon: url("../__spritemap#sprite-path-view");
  }

  &--eco {
    --icon: url("../__spritemap#sprite-leaf-view");
  }

  &::before {
    content: "";
    position: absolute;
    top: 19px;
    left: 50%;

    width: 42px;
    height: 42px;

    background-image: var(--icon);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 24px 24px;
    border: 1px solid var(--additional-100, #0266c1);
    transform: translateX(-50%);

    @media (min-width: $vp-768) {
      top: 29px;

      width: 48px;
      height: 48px;
    }

    @media (min-width: $vp-1440) {
      top: 39px;

      width: 54px;
      height: 54px;
    }
  }
}

.advantages__item.swiper-slide {
  @media (min-width: $vp-768) {
    width: 324px;
  }

  @media (min-width: $vp-1440) {
    width: 380px;
  }
}

.advantages__item--additional.swiper-slide {
  display: none;

  @media (min-width: $vp-1440) {
    display: block;
  }
}

.advantages__item h3 {
  max-width: 245px;
  margin: 0 auto 15px;

  font-weight: 600;
  font-size: 14px;
  line-height: 14px;
  text-align: center;

  @media (min-width: $vp-768) {
    max-width: 100%;
    margin-bottom: 14px;

    font-size: 16px;
    line-height: 16px;
  }

  @media (min-width: $vp-1440) {
    margin-bottom: 16px;

    font-size: 18px;
    line-height: 18px;
  }
}

.advantages__item:last-child h3 {
  padding-right: 4px;
}

.advantages__item p {
  margin: 0 0 7px;

  font-size: 12px;
  line-height: 18px;
  text-align: center;

  @media (min-width: $vp-768) {
    font-size: 14px;
    line-height: 22px;
  }
}

.advantages__item p:last-of-type {
  margin-bottom: 0;
}

.advantages__br-desktop {
  display: none;

  @media (min-width: $vp-1440) {
    display: block;
  }
}
