.button {
  padding: 19px;

  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  color: var(--white-100, #ffffff);
  text-decoration: none;

  background-color: var(--additional-100, #0266c1);
  border: 1px solid transparent;
  cursor: pointer;

  transition: border-color 0.8s ease, background-color 0.4s ease, color 0.4s ease;

  &:hover {
    color: var(--active, #1c3374);

    background-color: var(--white-100, #ffffff);
    border-color: var(--active, #1c3374);
  }

  &:focus-visible {
    color: var(--active, #1c3374);

    background-color: var(--white-100, #ffffff);
    border-color: transparent;
  }

  &:active {
    color: var(--white-100, #ffffff);

    background-color: var(--active, #1c3374);
    border-color: transparent;
  }
}

.button.is-disabled {
  background-color: var(--disabled, #999999);
  border-color: var(--disabled, #999999);

  pointer-events: none;
}

@supports not selector(:focus-visible) {
  .button:focus {
    color: var(--active, #1c3374);

    background-color: var(--white-100, #ffffff);
    border-color: transparent;
  }
}
