.button {
  padding: 19px;

  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  color: var(--white-100);
  text-decoration: none;

  background-color: var(--additional-100);
  border: 1px solid transparent;
  cursor: pointer;

  transition: border-color 0.8s ease, background-color 0.4s ease, color 0.4s ease;

  &:hover {
    color: var(--active);

    background-color: var(--white-100);
    border-color: var(--active);
  }

  &:focus-visible {
    color: var(--active);

    background-color: var(--white-100);
    border-color: transparent;
    outline: none;
  }

  &:active {
    color: var(--white-100);

    background-color: var(--active);
    border-color: transparent;
  }
}

.button.is-disabled {
  background-color: var(--disabled);
  border-color: var(--disabled);

  pointer-events: none;
}

@supports not selector(:focus-visible) {
  .button:focus {
    color: var(--active);

    background-color: var(--white-100);
    border-color: transparent;
    outline: none;
  }
}
