.feedback {
  position: relative;

  display: grid;
  min-height: 638px;

  color: var(--white-100, #ffffff);

  background-color: #424850;
  background-image: url("../img/background/form-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media (resolution >= 2dppx) {
    background-image: url("../img/background/form-mobile@2x.jpg");
  }

  @media (min-width: $vp-768) {
    min-height: 680px;

    background-image: url("../img/background/form-tablet@1x.jpg");

    @media (resolution >= 2dppx) {
      background-image: url("../img/background/form-tablet@2x.jpg");
    }
  }

  @media (min-width: $vp-1440) {
    min-height: 760px;

    background-image: url("../img/background/form-desktop@1x.jpg");

    @media (resolution >= 2dppx) {
      background-image: url("../img/background/form-desktop@2x.jpg");
    }
  }

  &::before {
    content: "";
    position: absolute;
    z-index: 0;

    width: 100%;
    height: 100%;

    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));

    inset: 0;
  }
}

.feedback__container {
  z-index: 1;

  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: 33px 31px 31px;

  gap: 18px;

  @media (min-width: $vp-768) {
    padding-top: 35px;
    padding-right: 204px;
    padding-left: 204px;

    gap: 22px;
  }

  @media (min-width: $vp-1440) {
    gap: 20px;
  }
}

.feedback h2 {
  margin: 0;

  font-weight: 800;
  font-size: 22px;
  line-height: 22px;
  text-align: center;

  @media (min-width: $vp-768) {
    font-size: 25px;
    line-height: 25px;
  }

  @media (min-width: $vp-1440) {
    font-size: 35px;
    line-height: 35px;
  }
}

.feedback p {
  margin: 0;

  font-size: 12px;
  line-height: 18px;
  text-align: center;

  @media (min-width: $vp-768) {
    font-size: 16px;
    line-height: 24px;
  }
}

.feedback p:last-of-type {
  margin-bottom: 2px;

  @media (min-width: $vp-768) {
    margin-bottom: 3px;
  }

  @media (min-width: $vp-1440) {
    margin-bottom: 20px;
  }
}

.feedback__br-mobile {
  @media (min-width: $vp-768) {
    display: none;
  }
}
