.form {
  display: flex;
  flex-direction: column;

  gap: 8px;

  @media (min-width: $vp-768) {
    gap: 11px;
  }

  @media (min-width: $vp-1440) {
    flex-direction: row;
    flex-wrap: wrap;

    gap: 30px;
  }
}

.form__item {
  position: relative;

  @media (min-width: $vp-1440) {
    width: 360px;
  }
}

.form__label {
  position: absolute;
  top: 17px;
  left: 15px;

  font-size: 16px;
  line-height: 16px;
  color: var(--primary, #2d383f);

  opacity: 0.5;

  @media (min-width: $vp-768) {
    top: 19px;
    left: 29px;
  }

  @media (min-width: $vp-1440) {
    top: 20px;
  }

  .form__item:has(.form__input:focus-visible) & {
    opacity: 0;
  }

  .form__item:has(.form__input:not(:placeholder-shown)) & {
    opacity: 0;
  }

  .form__item:has(.form__input:disabled) & {
    color: var(--disabled, #999999);
  }
}

.form__input {
  width: 100%;
  padding: 15px 15px 14px;

  font-size: 16px;
  line-height: 16px;

  background-color: var(--white-100, #ffffff);
  border: 1px solid var(--additional-10, rgba(2, 102, 193, 0.1));
  border-radius: 2px;

  transition: border-color 0.4s ease;

  @media (min-width: $vp-768) {
    padding: 17px 29px;
  }

  &::placeholder {
    color: var(--additional-50, rgba(2, 102, 193, 0.5));

    opacity: 0;
  }

  &:hover {
    border-color: var(--additional-100, #0266c1);
  }

  &:focus-visible {
    border-color: var(--primary, #2d383f);
    outline: none;
  }

  &:disabled {
    color: var(--disabled, #999999);

    border-color: var(--disabled, #999999);
  }

  &--error {
    border-color: var(--error, #ff121f);
  }
}

.form__input:focus-visible::placeholder {
  opacity: 1;
}

.form__error-message {
  display: none;

  .form__input--error + & {
    display: block;

    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: var(--error, #ff121f);

    @media (min-width: $vp-1440) {
      position: absolute;
      bottom: -15px;
    }
  }
}

.form__submit-button {
  padding-top: 21px;
  padding-bottom: 19px;

  @media (min-width: $vp-1440) {
    align-self: flex-start;
    width: 180px;
  }
}
