.hero {
  color: var(--white-100);

  background-color: #668eba;
}

.hero__list {
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.hero__item {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    z-index: 1;

    background-image: linear-gradient(112.1deg, rgba(15, 20, 41, 0.33) 17.23%, rgba(15, 20, 41, 0) 94.93%);

    inset: 0;
  }
}

.hero__img-container {
  position: absolute;

  min-height: 568px;
  overflow: hidden;

  background-color: #668eba;

  inset: 0;

  @media (min-width: $vp-768) {
    min-height: 1034px;
  }
}

.hero__img-container img {
  display: block;
  width: 100%;
}

.hero__content {
  position: relative;
  z-index: 2;

  display: grid;
  align-content: center;
  min-height: 568px;
  padding: 60px 25px 76px;

  gap: 15px;

  @media (min-width: $vp-768) {
    min-height: 1034px;
    padding: 40px 45px 100px;
  }
}

.hero__content h3 {
  margin: 0;

  font-weight: 800;
  font-size: 26px;
  line-height: 26px;
  text-align: center;

  @media (min-width: $vp-768) {
    font-size: 56px;
    line-height: 56px;
  }
}

.hero__content p {
  max-width: 500px;
  margin: 0 auto;

  font-size: 15px;
  line-height: 20px;
  text-align: center;

  @media (min-width: $vp-768) {
    font-size: 17px;
    line-height: 24px;
  }
}

.hero__link {
  min-width: 180px;
  margin: 45px auto 0;

  @media (min-width: $vp-768) {
    margin-top: 20px;
  }
}

.hero__img-mini-container {
  display: none;

  @media (min-width: $vp-768) {
    display: block;
  }
}

.hero__img-mini-container img {
  display: block;
  margin: 30px auto 0;
}

.hero__pagination {
  --swiper-pagination-bottom: 35px;
  --swiper-pagination-bullet-horizontal-gap: 10px;
}

.hero .swiper-pagination-bullet {
  position: relative;

  width: 16px;
  height: 16px;

  background-color: transparent;
  border: 1px solid var(--white-100);
  opacity: 1;

  transition: background-color 0.5s ease;

  @media (min-width: $vp-768) {
    width: 20px;
    height: 20px;
  }

  &:hover {
    background-color: #d9d9d9;
  }

  &:active {
    background-color: var(--white-50);
  }

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;

    width: 32px;
    height: 32px;

    transform: translate(-50%, -50%);

    @media (min-width: $vp-768) {
      width: 36px;
      height: 36px;
    }
  }
}

.hero .swiper-pagination-bullet:focus-visible {
  outline: 1px solid var(--white-50);
  outline-offset: 1px;
}

.hero .swiper-pagination-bullet-active {
  background-color: var(--white-100);
}
