.page-header {
  position: relative;
  z-index: 2;

  color: var(--white-100, #ffffff);

  background-color: var(--additional-100, #0266c1);

  &::before {
    content: "";
    position: absolute;
    z-index: 1;

    background-color: var(--additional-100, #0266c1);

    inset: 0;

    @media (min-width: $vp-1440) {
      display: none;
    }
  }

  &::after {
    content: "";
    position: absolute;
    z-index: -1;

    width: 100vw;
    height: 100vh;

    background-color: var(--primary, #2d383f);
    transform: scale(0);
    opacity: 0;

    transition: opacity 0.5s ease;

    @media (min-width: $vp-1440) {
      display: none;
    }
  }
}

.page-header.is-open::after {
  transform: scale(1);
  opacity: 0.6;
}

.page-header__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 6px;

  gap: 9px 100px;

  @media (min-width: $vp-768) {
    display: grid;
    padding-top: 19px;
    padding-bottom: 19px;

    gap: 0;
    grid-template-columns: 174px 1fr 174px;
  }

  @media (min-width: $vp-1440) {
    padding-top: 31px;
    padding-bottom: 31px;

    gap: 7px 100px;
  }
}

.page-header__burger-button {
  z-index: 2;

  margin-top: -10px;
  margin-left: -10px;

  @media (min-width: $vp-768) {
    margin-top: -2px;

    justify-self: start;
  }

  @media (min-width: $vp-1440) {
    display: none;
  }
}

.page-header__logo {
  z-index: 2;

  display: flex;
  max-width: 170px;
  margin-left: auto;

  color: var(--white-100, #ffffff);

  @media (min-width: $vp-768) {
    margin-left: 0;

    justify-self: center;
  }

  @media (min-width: $vp-1440) {
    margin-left: 32px;
  }

  &:hover {
    color: var(--white-50, rgba(255, 255, 255, 0.5));
  }

  &:focus-visible {
    color: var(--primary, #2d383f);
  }

  &:active {
    color: var(--active, #1c3374);
  }
}

.page-header__phone {
  z-index: 2;

  padding-top: 7px;
  padding-bottom: 7px;

  font-weight: 600;
  line-height: 14px;
  color: var(--white-100, #ffffff);
  text-decoration: none;

  @media (min-width: $vp-768) {
    margin-top: 3px;

    justify-self: end;
  }

  @media (min-width: $vp-1440) {
    font-size: 18px;
    line-height: 18px;
  }

  &:hover {
    color: var(--white-50, rgba(255, 255, 255, 0.5));
  }

  &:focus-visible {
    color: var(--primary, #2d383f);
  }

  &:active {
    color: var(--active, #1c3374);
  }

  &--disabled {
    color: var(--disabled, #999999);
  }
}

.page-header__nav {
  position: absolute;
  top: calc(100% - 1px);
  right: 0;
  left: 0;
  z-index: 0;

  padding: 13px 15px 47px 10px;

  background-color: var(--additional-100, #0266c1);
  transform: translateY(-150%);

  transition: transform 0.6s ease;

  @media (min-width: $vp-768) {
    padding: 28px 40px 66px;
  }

  @media (min-width: $vp-1440) {
    position: static;

    margin-left: 60px;
    padding: 21px 0 19px;

    transform: none;

    transition: none;
  }

  .is-open & {
    transform: translateY(0%);
  }
}

.page-header__nav-list {
  display: grid;
  margin: 0;
  padding: 0;

  list-style-type: none;

  gap: 16px;

  @media (min-width: $vp-768) {
    gap: 18px;
  }

  @media (min-width: $vp-1440) {
    display: flex;
    flex-wrap: wrap;

    gap: 20px;
  }
}

.page-header__nav-item {
  @media (min-width: $vp-1440) {
    max-width: 300px;
  }
}

.page-header__link {
  position: relative;

  padding: 2px 5px;

  font-weight: 700;
  line-height: 14px;
  color: var(--white-100, #ffffff);
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.04em;

  outline: 1px solid transparent;

  transition: outline 0.6s ease;

  &:active {
    color: var(--active, #1c3374);
    outline: 1px solid transparent;
  }

  &--disabled {
    color: var(--disabled, #999999);
  }

  @media (min-width: $vp-1440) {
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    text-transform: none;
    letter-spacing: normal;
  }

  &:focus-visible {
    outline: 1px solid var(--white-100, #ffffff);
  }

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 1px;

    background-color: var(--white-100, #ffffff);
    transform: scale(0);

    transition: transform 0.4s ease;
  }
}

.page-header__link:hover::before {
  transform: scale(1);
}

.page-footer__link:active::before {
  transform: scale(0);
}

.page-header__link:focus-visible::before {
  opacity: 0;
}

@supports not selector(:focus-visible) {
  .page-header__link:focus {
    outline: 1px solid var(--white-100, #ffffff);
  }

  .page-header__link:focus::before {
    opacity: 0;
  }

  .page-header__phone:focus {
    color: var(--primary, #2d383f);
  }
}
