.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 30px;
  padding: 3px;

  border: 1px solid var(--primary-30, rgba(45, 56, 63, 0.3));
  transition: border-color 0.4s ease, background-color 0.4s ease;

  --icon-color: var(--primary, #2d383f);

  @media (min-width: $vp-1440) {
    width: 30px;
  }

  &--small {
    width: 24px;
    height: 24px;
  }

  &--vk {
    --icon-width: 16px;
    --icon-height: 9px;
    --icon: url("../__spritemap#sprite-social-vk-view");
  }

  &--ok {
    --icon-width: 10px;
    --icon-height: 16px;
    --icon: url("../__spritemap#sprite-social-ok-view");
  }

  &--reddit {
    --icon-width: 15px;
    --icon-height: 15px;
    --icon: url("../__spritemap#sprite-social-reddit-view");
  }

  &:hover {
    border-color: var(--primary, #2d383f);
  }

  &:focus-visible {
    border-color: transparent;
  }

  &:active {
    background-color: var(--additional-100, #0266c1);
    border-color: transparent;

    --icon-color: var(--white-100, #ffffff);
  }

  &::before {
    content: "";

    width: var(--icon-width);
    height: var(--icon-height);
    background-color: var(--icon-color);
    mask-image: var(--icon);
    mask-repeat: no-repeat;
    mask-position: center;
    transition: background-color 0.4s ease;
  }
}

.social-link.is-disabled {
  pointer-events: none;
  background-color: transparent;
  border-color: var(--primary, #2d383f);

  --icon-color: var(--primary, #2d383f);

  opacity: 0.3;
}

.social-link--vk.social-link--small {
  --icon-width: 14px;
  --icon-height: 8px;
}
