.title {
  padding-top: 38px;
  position: relative;
  font-weight: 800;
  font-size: 22px;
  line-height: 22px;
  color: var(--primary);

  @media (min-width: $vp-768) {
    font-size: 25px;
    line-height: 25px;
  }

  @media (min-width: $vp-1440) {
    font-size: 35px;
    line-height: 35px;
  }

  &::before {
    content: attr(data-title);
    position: absolute;
    top: 23px;
    left: 0;

    font-weight: 800;
    font-size: 26px;
    line-height: 26px;

    opacity: 0.03;

    @media (min-width: $vp-768) {
      font-size: 40px;
      line-height: 40px;
    }

    @media (min-width: $vp-1440) {
      font-size: 55px;
      line-height: 55px;
    }
  }
}
